#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

passthrough '/style/'
passthrough '/packages/'
passthrough '/packages/*/'
passthrough '/robots/'
passthrough 'gamenews'

compile '/scripts/*' do
  filter :erb
  filter :uglify_js if File.basename(item[:content_filename], ".*") == 'all'
end

compile '/news/atom/' do
  filter :erb
end

compile 'sitemap' do
  filter :erb
end

compile 'versions' do
  filter :erb
end

compile 'appimages' do
  filter :erb
end

compile '/news/*/' do
    filter :kramdown
    layout 'news'
    snapshot :body
    layout 'archived'
    layout 'default'
end

# .htaccess does get filtered with erb, but without layout.
compile %r{^/(htaccess)/$} do
  filter :erb
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
  end
end

route '/404/' do
  '/404.html'
end

route '/sitemap' do
  item.identifier.chop + '.xml'
end

route '/versions' do
  item.identifier.chop + '.json'
end

route '/appimages' do
  item.identifier.chop + '.json'
end

route '/scripts/*' do
  # if not debug mode, only let all.js through
  unless @config[:debug]
    item.identifier.chop + '.js' if File.basename(item[:content_filename], ".*") == 'all'
  else
    item.identifier.chop + '.js'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
