<%
PLATFORMS = {
    "win" => "Windows",
    "osx" => "OS X",
    "deb" => "Debian / Ubuntu",
    "rpm" => "Fedora / openSUSE",
    "arch" => "Arch Linux",
    "gentoo" => "Gentoo",
    "exherbo" => "Exherbo",
    "freebsd" => "FreeBSD",
}

playtest_tag = fetch_git_tag(GITHUB_PLAYTEST_ID)
release_tag = fetch_git_tag(GITHUB_RELEASE_ID)
sizes = fetch_package_sizes([GITHUB_RELEASE_ID, GITHUB_PLAYTEST_ID])
%>
<script>
// Wait until the DOM has loaded before querying the document
$(document).ready(function(){
    $('ul.downloadplatform').each(function(){
      // For each set of tabs, we want to keep track of
      // which tab is active and it's associated content
      var $active, $content, $links = $(this).find('a');

      // If the location.hash matches one of the links, use that as the active tab.
      // If no match is found, use the first link as the initial active tab.
      $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
      $active.addClass('active');
      $content = $($active.attr('href'));

      // Hide the remaining content
      $links.not($active).each(function () {
        $($(this).attr('href')).hide();
      });

      function activateTab(tabEl){
        // Make the old tab inactive.
        if ($active && $active.length) $active.removeClass('active');
        if ($content && $content.length) $content.hide();

        // Update the variables with the new link and content
        $active = $(tabEl);
        $content = $($(tabEl).attr('href'));

        // Make the tab active.
        $active.addClass('active');
        $content.show();
      }

      // Attempt to automatically highlight the viewer's OS on page load:
      var ua = navigator.userAgent;
      if (ua.match('Mac OS X')) activateTab($('a[href=#osx]'));
      else if (ua.match(/Ubuntu|Debian/)) activateTab($('a[href=#deb]'));
      else if (ua.match(/Red Hat|Fedora/)) activateTab($('a[href=#rpm]'));
      else if (ua.match(/SUSE/)) activateTab($('a[href=#rpm]'));
      else if (ua.match('Arch Linux')) activateTab($('a[href=#arch]'));
      else if (ua.match('Gentoo')) activateTab($('a[href=#gentoo]'));
      else if (ua.match('Exherbo')) activateTab($('a[href=#exherbo]'));
      else if (ua.match('FreeBSD')) activateTab($('a[href=#freebsd]'));

      // Bind the click event handler
      $(this).on('click', 'a', function(e){
        activateTab(this);
        e.preventDefault();
      });
    });
});
</script>

<h3>Which Build?</h3>
<p>Two types of build are available, depending on how you want to play:</p>
<ul>
	<li>Stable releases are recommended for players who want to play multiplayer games online.</li>
	<li>Playtests provide a preview of the latest improvements for players who want to help test and shape the future releases of OpenRA.</li>
</ul>
<p>The latest stable release is <span class="versionlabel"><%= release_tag %></span><% if GITHUB_PLAYTEST_ID != '' then %>, and the latest playtest is <span class="versionlabel"><%= playtest_tag %></span><% end %>.
<hr />

<h3>Which Operating System?</h3>
<ul class="downloadplatform">
  <% PLATFORMS.each do |id, name| %>
  <li><a href="#<%= id %>"><img src="/images/platforms/<%= id %>.svg" alt="<%= name %>" title="<%= name %>" /></a></li>
  <% end %>
</ul>
<p>You may also <a href="https://github.com/OpenRA/OpenRA/wiki/Compiling">compile from source</a> on any operating system.</p>

<div id="win" class="tab">
  <hr />
  <h3>Download OpenRA for Windows</h3>
  <p>The default GPU drivers included with Windows do not support OpenGL rendering.<br />You may need to install full drivers supplied by your GPU vendor.</p>
  <ul class="downloadlinks">
    <li><%= generate_download_button("win", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("win", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
</div>
<div id="osx" class="tab">
  <hr />
  <h3>Download OpenRA for OS X</h3>
  <p>OpenRA requires Mono 4.6 or greater. <a href="http://www.mono-project.com/download/">Download Mono</a>.</p>
  <br />
  <ul class="downloadlinks">
    <li><%= generate_download_button("osx", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("osx", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
  <p>OpenRA is also available on <a href="https://caskroom.github.io/">Homebrew Cask</a>:</p>
  <pre>$ brew cask install openra</pre>
  <p class="downloadthirdparty">We do not maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
<div id="deb" class="tab">
  <hr />
  <h3>Download OpenRA for Debian / Ubuntu</h3>
  <p>Download and run one of the packages below to install OpenRA via the Software Center.</p>
  <ul class="downloadlinks">
    <li><%= generate_download_button("deb", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("deb", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
  <p>OpenRA is also available on <a href="http://www.playdeb.net/software/OpenRA">PlayDeb</a>.</p>
  <p class="downloadthirdparty">We do not maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
<div id="rpm" class="tab">
  <hr />
  <h3>Install OpenRA for Fedora / openSUSE</h3>
  <p>Stable releases and playtests are available via our <a href="http://software.opensuse.org/download.html?project=games:openra&amp;package=openra">openSUSE Build Service repository</a>.</p>
</div>
<div id="arch" class="tab">
  <hr />
  <h3>Install OpenRA for Arch Linux</h3>
  <p>Stable releases are available in the <a href="https://www.archlinux.org/packages/community/any/openra/">official Arch repository</a>, and can be installed using <span style="font-family: monospace;">pacman</span>:<pre>$ pacman -S openra </pre></p>
  <p class="downloadthirdparty">We do not maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
<div id="gentoo" class="tab">
  <hr />
  <h3>Install OpenRA for Gentoo</h3>
  <p>Unofficial packages for both releases and playtests are available via the &ldquo;dr&rdquo; overlay:</p>
  <pre>$ emerge -av layman
$ layman -a -S dotnet
$ layman -a -S dr -o http://github.com/cerebrum/dr/raw/master/repo.xml
$ printf '%s\n' "games-strategy/openra ~amd64" >> /etc/portage/package.keywords
$ emerge games-strategy/openra</pre>
  <p class="downloadthirdparty">We do not directly maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
<div id="exherbo" class="tab">
  <hr />
  <h3>Install OpenRA for Exherbo</h3>
  <p>Packages for both releases and playtests are available via the <a href="https://git.exherbo.org/summer/packages/games-strategy/openra/index.html">hasufell overlay</a>:</p>
  <pre>$ cave resolve repository/hasufell
$ cave resolve games-strategy/openra:release
$ cave resolve games-strategy/openra:playtest</pre>
  <p class="downloadthirdparty">We do not directly maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
<div id="freebsd" class="tab">
  <hr />
  <h3>Install OpenRA for FreeBSD</h3>
  <p>Stable releases are available in the <a href="http://www.freshports.org/games/openra/">FreeBSD Ports Collection</a>:<br />
<pre># cd /usr/ports/games/openra
# make install</pre></p>
  <p class="downloadthirdparty">We do not maintain this external package source, so there may be delays when a new version is released.<br />Please contact the downstream repository maintainers about any packaging issues.</p>
</div>
