<%
PLATFORMS = {
    "win" => "Windows",
    "osx" => "OS X",
    "deb" => "Debian / Ubuntu",
    "fedora" => "Fedora",
    "opensuse" => "openSUSE",
    "arch" => "Arch Linux",
    "gentoo" => "Gentoo",
}

playtest_tag = fetch_git_tag(GITHUB_PLAYTEST_ID)
release_tag = fetch_git_tag(GITHUB_RELEASE_ID)
sizes = fetch_package_sizes([GITHUB_RELEASE_ID, GITHUB_PLAYTEST_ID])
%>
<script>
// Wait until the DOM has loaded before querying the document
$(document).ready(function(){
    $('ul.downloadplatform').each(function(){
      // For each set of tabs, we want to keep track of
      // which tab is active and it's associated content
      var $active, $content, $links = $(this).find('a');

      // If the location.hash matches one of the links, use that as the active tab.
      // If no match is found, use the first link as the initial active tab.
      $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
      $active.addClass('active');
      $content = $($active.attr('href'));

      // Hide the remaining content
      $links.not($active).each(function () {
        $($(this).attr('href')).hide();
      });

      function activateTab(tabEl){
        // Make the old tab inactive.
        if ($active && $active.length) $active.removeClass('active');
        if ($content && $content.length) $content.hide();

        // Update the variables with the new link and content
        $active = $(tabEl);
        $content = $($(tabEl).attr('href'));

        // Make the tab active.
        $active.addClass('active');
        $content.show();
      }

      // Attempt to automatically highlight the viewer's OS on page load:
      var ua = navigator.userAgent;
      if (ua.match('Mac OS X')) activateTab($('a[href=#osx]'));
      else if (ua.match(/Ubuntu|Debian/)) activateTab($('a[href=#deb]'));
      else if (ua.match(/Red Hat|Fedora/)) activateTab($('a[href=#fedora]'));
      else if (ua.match(/SUSE/)) activateTab($('a[href=#opensuse]'));
      else if (ua.match('Arch Linux')) activateTab($('a[href=#arch]'));
      else if (ua.match('Gentoo')) activateTab($('a[href=#gentoo]'));
      else if (ua.match('Linux')) activateTab($('a[href=#source]'));

      // Bind the click event handler
      $(this).on('click', 'a', function(e){
        activateTab(this);
        e.preventDefault();
      });
    });
});
</script>

<h3>Which Build?</h3>
<p>Two types of build are available, depending on how you want to play:</p>
<ul>
	<li>Stable releases are recommended for players who want to play multiplayer games online.</li>
	<li>Playtests provide a preview of the latest improvements for players who want to help test and shape the future releases of OpenRA.</li>
</ul>
<p>The latest stable release is <span class="versionlabel"><%= release_tag %></span><% if GITHUB_PLAYTEST_ID != '' then %>, and the latest playtest is <span class="versionlabel"><%= playtest_tag %></span><% end %>.
<hr />

<h3>Which Operating System?</h3>
<ul class="downloadplatform">
  <% PLATFORMS.each do |id, name| %>
  <li><a href="#<%= id %>"><img src="/images/platforms/<%= id %>.svg" alt="<%= name %>" title="<%= name %>" /></a></li>
  <% end %>
</ul>
<p>OpenRA is also available on <a href="http://www.desura.com/games/openra">Desura</a> and <a href="https://lutris.net/games/openra/">Lutris</a>, or you can <a href="https://github.com/OpenRA/OpenRA/wiki/Compiling">compile from source</a>.</p>

<div id="win" class="tab">
  <hr />
  <h3>Download OpenRA for Windows</h3>
  <p class="downloadblurb">The default GPU drivers included with Windows do not support OpenGL rendering.<br />You may need to install full drivers supplied by your GPU vendor.</p>
  <ul class="downloadlinks">
    <li><%= generate_download_button("win", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("win", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
  <p>Older releases can be found in our <a href="<%= DOWNLOAD_GITHUB_BASE_PATH + 'releases/' %>">release archive</a>.</p>
</div>
<div id="osx" class="tab">
  <hr />
  <h3>Download OpenRA for OS X</h3>
  <p class="downloadblurb">OpenRA requires Mono 3.2 or greater. <a href="http://www.mono-project.com/download/">Download Mono MRE</a>.</p>
  <br />
  <ul class="downloadlinks">
    <li><%= generate_download_button("osx", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("osx", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
  <p>Older releases can be found in our <a href="<%= DOWNLOAD_GITHUB_BASE_PATH + 'releases/' %>">release archive</a>.</p>
</div>
<div id="deb" class="tab">
  <hr />
  <h3>Download OpenRA for Debian / Ubuntu</h3>
  <p class="downloadblurb">Download and run one of the packages below to install OpenRA via the Ubuntu Software Center.<br /><em>Please note: The package quality warning is a known issue, and will be fixed in a future OpenRA release.</em></p>
  <ul class="downloadlinks">
    <li><%= generate_download_button("deb", GITHUB_RELEASE_ID, release_tag, sizes) %></li>
    <li><%= generate_download_button("deb", GITHUB_PLAYTEST_ID, playtest_tag, sizes) %></li>
  </ul>
  <p>Older releases can be found in our <a href="<%= DOWNLOAD_GITHUB_BASE_PATH + 'releases/' %>">release archive</a>.</p>
  <p class="downloadblurb">Stable releases are also available via <a href="http://www.playdeb.net/software/OpenRA">PlayDeb</a> (<a href="http://www.playdeb.net/updates/Ubuntu/14.10#how_to_install">configuration instructions</a>).</p>
</div>
<div id="fedora" class="tab">
  <hr />
  <h3>Install OpenRA for Fedora</h3>
  <p class="downloadblurb">Stable releases are available via our openSUSE Build Service repository.</p>
  <br />
  <ul class="downloadlinks">
    <li><a href="https://build.opensuse.org/package/binaries/games:openra/release?repository=Fedora_19" title="Download OpenRA for Fedora 19">Download OpenRA releases<br />from openSUSE Build Service</a></li>
	<li><span>No playtest available<br />(platform not supported)</span></li>
  </ul>
  <p class="downloadblurb"><em>These packages are maintained by a third party, and may not always include the latest versions.<br />Please contact the downstream repository maintainers about any packaging issues.</em></p>
</div>
<div id="opensuse" class="tab">
  <hr />
  <h3>Install OpenRA for openSUSE</h3>
  <p class="downloadblurb">Stable releases are available in the official openSUSE games repository.</p>
  <br />
  <ul class="downloadlinks">
    <li><a href="http://software.opensuse.org/download.html?project=games&package=openra" title="Download OpenRA for openSUSE">Download OpenRA releases<br />from openSUSE Games</a></li>
	<li><span>No playtest available<br />(platform not supported)</span></li>
  </ul>
  <p class="downloadblurb"><em>These packages are maintained by a third party, and may not always include the latest versions.<br />Please contact the downstream repository maintainers about any packaging issues.</em></p>
</div>
<div id="arch" class="tab">
  <hr />
  <h3>Install OpenRA for Arch Linux</h3>
  <p class="downloadblurb">Stable releases are available in the <a href="https://www.archlinux.org/packages/community/any/openra/">official Arch repository</a>, and can be installed using <span style="font-family: monospace;">pacman</span>:<pre>$ pacman -S openra </pre></p>
  <p class="downloadblurb">Playtests are available via the <a href="https://aur.archlinux.org/packages/openra-playtest/">AUR</a>, and can be installed using <span style="font-family: monospace;">yaourt</span>:<pre>$ yaourt openra-playtest</pre></p>
  <p class="downloadblurb"><em>These packages are maintained by a third party, and may not always include the latest versions.<br />Please contact the downstream repository maintainers about any packaging issues.</em></p>
</div>
<div id="gentoo" class="tab">
  <hr />
  <h3>Install OpenRA for Gentoo</h3>
  <p class="downloadblurb">Stable releases are available in the <a href="http://packages.gentoo.org/package/games-strategy/openra">official Gentoo repositories</a>, and can be installed using <span style="font-family: monospace;">emerge</span>:<pre>$ emerge -av openra</pre></p>
  <p class="downloadblurb">Playtests are available via the &ldquo;dr&rdquo; overlay:
<pre>$ layman -S -a dr -o http://github.com/cerebrum/dr/raw/master/repo.xml
$ printf '%s\n' "games-strategy/openra ~amd64" >> /etc/portage/package.keywords
$ emerge games-strategy/openra</pre></p>
  <p class="downloadblurb"><em>These packages are maintained by a third party, and may not always include the latest versions.<br />Please contact the downstream repository maintainers about any packaging issues.</em></p>
</div>