<script type="text/javascript">
  var data = {};
  var release_tag = "<%= fetch_git_tag(GITHUB_RELEASE_ID) %>";
  var playtest_tag = "<%= fetch_git_tag(GITHUB_PLAYTEST_ID) %>";

  function initMapInfo(hash) {
    var doMap = function(map) {
      if ('title' in map)
        $('.map-'+hash).html('<a href="http://resource.openra.net/maps/'+map['id']+'" target="_maps">'+map['title']+'</a><br /><span class="gameSubline">'+map['map_type']+'&nbsp;('+map['players']+' Players)</span>');
    };
    if (hash in data) {
      doMap(data[hash]);
      return;
    }

    $.ajax({
      type: "GET",
      url: "http://resource.openra.net/map/hash/"+hash,
      statusCode: {
        404: function() {
          $('.map-'+hash).html('Unknown Map');
        }
      }
    }).done(function(msg) {
      data[hash] = {};
      var reply = jQuery.parseJSON(msg);
      if (!!reply[0])
           data[hash] = reply[0];

      doMap(data[hash]);
    });
  }

  function updateGameList() {
    $.ajax({
      type: "GET",
      url:  "http://master.openra.net/games_json.php"
    }).done(function(masterMessage) {
      $('#serverlist').empty();
      var masterReply = jQuery.parseJSON(masterMessage);
      var hashes = [];
      var activePlayers = 0;
      var activeServers = 0;
      for (var i in masterReply) {
        var game = masterReply[i];

        if (game['state'] == 3) // server shutting down
            continue;

        if ((game['state'] == 2) && !$('#status_playing').is(':checked'))
            continue;

        if ((game['state'] == 1 && game['players'] > 0) && !$('#status_waiting').is(':checked'))
            continue;

        if ((game['players'] == 0) && !$('#status_empty').is(':checked'))
            continue;

        activePlayers += parseInt(game['players']);
        activeServers++;
        var state = 'Unknown';
        var stateClass = '';
        switch (game['state']) {
          case '2': state = 'Playing'; stateClass = 'gamePlaying'; break;
          case '1':
           if (game['players'] > 0)
           {
             state = 'Waiting';
             stateClass = 'gameWaiting';
           }
           else
           {
             state = 'Empty';
             stateClass = 'gameEmpty';
           }
           break;
        }

        var modver = game['mods'].split('@');
        // Invalid entry
        if (modver.length != 2)
          continue;

        var tag = modver[1];
        var mod = 'Unknown Mod ('+modver[0]+')';
        switch (modver[0]) {
          case 'ra': mod = "Red Alert"; break;
          case 'cnc': mod = "Tiberian Dawn"; break;
          case 'd2k': mod = "Dune 2000"; break;
          case 'ts': mod = "Tiberian Sun"; break;
          case 'ra2': mod = "Red Alert 2"; break;

          case 'fgtn': mod = "The Forgotten Chapter"; break;
          case 'to': mod = "RA: Tiberium Origins"; break;
          case 'tdx': mod = "Tiberian Dawn Xtended"; break;
          case 'sp': mod = "Shattered Paradise"; break;
          case 'cd': mod = "Crystallized Doom"; break;
        }

        rowClass = '';
        if (modver[1] != release_tag & modver[1] != playtest_tag)
          rowClass = 'greyout';

        var row = $('<tr class="'+rowClass+'">');
        row.append('<td>'+game['name'].replace(/\\\'/g, "'")+'</span></td>');

        if (game['state'] == '1') {
          var handler = 'openra-' + modver[0] + '-' + modver[1] + '://';
          if (modver[1] == 'release-20170527')
            handler = 'openra://';

          row.append('<td>'+game['location']+'<br /><span class="gameSubline"><a href="'+handler+game['address']+'">'+game['address']+'</a></span></td>');
        } else
          row.append('<td>'+game['location']+'<br /><span class="gameSubline">'+game['address']+'</span></td>');

        var players = game['players']+' / '+game['maxplayers'];
        if (game['spectators'] > 0)
            players += ' + ' + game['spectators'];

        players += (game['players'] + game['spectators'] == 1 ? ' player' : ' players')
        row.append('<td><span class="'+stateClass+'">'+state+'</span><br /><span class="gameSubline">'+players+'</span></td>');
        row.append('<td>'+mod+'<br /><span class="gameSubline">'+tag+'</span></td>');
        row.append('<td class="map-'+game['map']+'">Loading...</td></tr>');
        $('#serverlist').append(row);

        if ($.inArray(game['map'], hashes) < 0)
          hashes.push(game['map']);
      }

      if (activeServers == 0)
        $('#serverlist').append('<tr><td colspan="4">No matching games found</td></tr>');

      for (var i in hashes)
        initMapInfo(hashes[i]);

      $('#activePlayers').text(activePlayers);
      $('#activeServers').text(activeServers);

      window.setTimeout(updateGameList, 30000);
    });
  }

  $(document).ready(function() {
    $('#servercontainer').show();
    $('#serverlist').empty();
    $('#serverlist').append('<tr><td colspan="4">Loading server list...</td></tr>');
    updateGameList();
  });

</script>

<% if @config[:debug] %>
  <% for file in @config[:scripts] %>
    <script src="/scripts/<%= file %>"></script>
  <% end %>
<% else %>
  <script src="/scripts/all.js"></script>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var rrdfile = "http://activity.openra.net/db/openra-players.rrd";
    var graph_options = {
      tooltip: true, tooltipOpts: { defaultTheme: false, id: "flotTip", content: "%s: %y on %x"},
      selection: { mode: null },
      grid: { borderColor: "#fff", tickColor: "#333", hoverable: true, margin: { left: 45, top: 0, right: 0, bottom: 15 } },
      series: { stack: true }
    };

    var ds_graph_options = {
      'playing': { label: 'Playing', color: "#0A0", lines: { show: true, fill: 0.7, lineWidth: 0 } },
      'waiting': { label: 'Waiting', color: "#F80", lines: { show: true, fill: 0.7, lineWidth: 0 } }
    };

    var rrdflot_options = {
      use_rra: true, rra: 2,
      graph_only: true, legend: "None",
      use_checked_DSs: true, checked_DSs: ['playing', 'waiting'],
      graph_width: "620px", graph_height: "200px"
    };

    plot = new rrdFlotAsync("players", rrdfile, null, graph_options, ds_graph_options, rrdflot_options, null, null, draw_plot_axes);
  })

  function draw_plot_axes() {
    setTimeout(function() {
      var c = $('#players').find('.flot-base').get(0);
      var ctx = c.getContext("2d");
      var pxratio = window.devicePixelRatio || 1;
      var cx = (c.width / pxratio + 45) / 2;
      var cy = (c.height / pxratio - 30) / 2;

      ctx.fillStyle = "white";
      ctx.textAlign = 'center';

      ctx.font = "bold 14px sans-serif";
      ctx.fillText('Date', cx, c.height);

      ctx.rotate(-Math.PI/2);
      ctx.fillText('Players', -cy, 35);
    }, 0);
  }
</script>

<h3>Server Browser</h3>
<noscript><div class="noscript">Please enable JavaScript to view the server list.</div></noscript>
<div id="servercontainer" style="display: none">
<form>
  <b>Show:</b>
  <input type="checkbox" id="status_playing" onchange="updateGameList()" checked="true"><label for="status_playing" class="gamePlaying"> Playing</label>
  <input type="checkbox" id="status_waiting" onchange="updateGameList()" checked="true"><label for="status_waiting" class="gameWaiting"> Waiting</label>
  <input type="checkbox" id="status_empty" onchange="updateGameList()"><label for="status_empty" class="gameEmpty"> Empty</label>
</form>
<p>Found <span id="activeServers">0</span> servers with <span id="activePlayers">0</span> players matching your selection:</p>
<table>
  <thead><tr><th width="180">Server</th><th width="110">Location</th><th width="80">Status</th><th width="100">Mod</th><th width="160">Map</th></tr></thead>
  <tbody id="serverlist"></tbody>
</table>
<br/>
<h3>Player Activity</h3>
<p>View the numbers of gamers <span class="gamePlaying">playing</span> and <span class="gameWaiting">waiting</span> over the last fortnight:</p>
<a href="/players/"><div id="players"><center><h4>Loading...</h4></center></div></a>
<p>More detailed graphs are available at the <a href="/players/">player statistics</a> page.</p>
</div>
