<div id="mainleft">
  <div id="screenshot">
<%
  Dir.glob('content/images/screenshots/*.png') do |item|
    next if item == '.' or item == '..' %>
	<img width="250" height="150" src="images/screenshots/<%= File.basename(item) %>" alt="" />
<%
  end
%>
</div>

    <div id="so-links">
      You can also follow us there:      
        <ul>        
           <li>
            <a href="fac.htm">
            <img width="32" height="32" title="Facebook" src="/images/fac-icon.png"></a></li>            
            
            <li>
            <a href="goo.htm">
            <img width="32" height="32" title="Google+" src="/images/goo-icon.png"></a></li>
            
            <li>
            <a href="twi.htm">
            <img width="32" height="32" title="Twitter" src="/images/twi-icon.png"></a></li>

            <li>
            <a href="mod.htm">
            <img width="32" height="32" title="ModDB" src="/images/mod-icon.png"></a></li>                
            
            <li>
            <a href="des.htm">
            <img width="32" height="32" title="Desura" src="/images/des-icon.png"></a></li>
            
            <li>
            <a href="red.htm">
            <img width="32" height="32" title="Reddit" src="/images/red-icon.png"></a></li>

            <!--
            <li>
            <a href="irc.htm">
            <img width="32" height="32" title="IRC chat room" src="/images/irc-icon.png"></a></li>                    
            -->
        </ul>  
    </div>
     


</div>
<div>
  <h2>Welcome Back, Commander</h2>
  <p>OpenRA is a Libre/Free Real Time Strategy project that recreates the classic Command&nbsp;&amp;&nbsp;Conquer titles.</p>
  <p>We include recreations of C&amp;C&nbsp;(Tiberian&nbsp;Dawn), C&amp;C:&nbsp;Red&nbsp;Alert, and Dune&nbsp;2000. These are not intended to be perfect copies, but instead combine the classic gameplay of the originals with modern improvements such as unit veterancy and the fog of war.</p>
  <p>OpenRA's primary focus is cross-platform multiplayer between Windows, OS&nbsp;X, and Linux; however, we include a number of single-player missions, and also support skirmish games against AI bots.</p>
</div>
<h2 style="clear:both">Latest News</h2>
<hr />
<h3 class="newsTitle"><%= sorted_articles.first[:title] %></h3>
<%= sorted_articles.first.compiled_content(:snapshot => :body) %>

<script>
  function nextSlide() {
    var x = $('#screenshot img:not(.active)');
    return $(x[Math.floor(Math.random() * x.length)]);
  }

  function slideSwitch() {
    var active = $('#screenshot img.active');
    if (active.length == 0)
      active = nextSlide();
    var next = nextSlide();
    active.addClass('last-active');
    next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 1000, function() {
          active.removeClass('active last-active');
    });
  }
  $(function() { setInterval("slideSwitch()", 3500); });
</script>