<div id="toppanel">
  <div id="screenshot-banner"><img src="images/banner.svg"></div>
  <div id="screenshot">
<%
  first = true
  Dir.glob('content/images/screenshots/*.png') do |item|
    next if item == '.' or item == '..' %>
      <img width="500" height="275" <%= (first ? "class=\"active\"" : "style=\"opacity: 0\"") %> src="images/screenshots/<%= File.basename(item) %>" alt="" />
<%
    first = false
  end
%>
  </div>
  <div id="rightpanel">
    <p>Classic strategy games, rebuilt for the modern era.</p>
	<p>Open Source. Free. For all modern operating systems.</p>
    <ul class="mainlinks">
      <li><a id="download" href="/download/" alt="Install now!" title="Install now!">Install now!</a></li>
    </ul>
    <div id="so-links">
	  <p>Find us on social media:</p>
      <ul>
      <% SOCIAL.each do |s, data| %>
        <li><a href="<%= data[:url] %>"<%= ' rel="publisher"' if s == "gplus" %>><img src="/images/social/<%= s %>.svg" alt="<%= data[:name] %>" title="<%= data[:name] %>" /></a></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<br style="clear:both" />
<hr />
<h2 id="newsbanner">Latest News</h2>
<h3 class="newsTitle"><%= sorted_articles.first[:title] %></h3>
<%= sorted_articles.first.compiled_content(:snapshot => :body) %>

<script>
  function nextSlide() {
    var x = $('#screenshot img:not(.active)');
    return $(x[Math.floor(Math.random() * x.length)]);
  }

  function slideSwitch() {
    var active = $('#screenshot img.active');
    if (active.length == 0)
      active = nextSlide();
    var next = nextSlide();
    active.addClass('last-active');
    next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 1000, function() {
          active.removeClass('active last-active');
    });
  }
  $(function() { setInterval("slideSwitch()", 4000); });
</script>