<% if @config[:debug] %>
  <% for file in @config[:scripts] %>
    <script src="/scripts/<%= file %>"></script>
  <% end %>
<% else %>
  <script src="/scripts/all.js"></script>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var rrdfile = "http://openra.ipdx.ru/db/openra-players.rrd";

    var graph_options = {
      tooltip: true, tooltipOpts: { defaultTheme: false, id: "flotTip", content: "%s: %y on %x"},
      selection: { mode: null },
      grid: { borderColor: "#fff", tickColor: "#333", hoverable: true },
      series: { stack: true }
    };

    var ds_graph_options = {
      'playing':{ label: 'Playing', color: "#0A0", lines: { show: true, fill: true } },
      'waiting':{ label: 'Waiting', color: "#F80", lines: { show: true, fill: true } }
    };

    var rrdflot_daily = {
      use_rra: true, rra: 4,
      graph_only: true, legend: "None",
      use_checked_DSs: true, checked_DSs: ['playing', 'waiting'],
      graph_width: "600px", graph_height: "300px"
    };

    var rrdflot_halfanhour = {
      use_rra: true, rra: 2,
      graph_only: true, legend: "None",
      use_checked_DSs: true, checked_DSs: ['playing', 'waiting'],
      graph_width: "600px", graph_height: "300px"
    };

    var rrdflot_fiveminutes = {
      use_rra: true, rra: 1,
      graph_only: true, legend: "None",
      use_checked_DSs: true, checked_DSs: ['playing', 'waiting'],
      graph_width: "600px", graph_height: "300px"
    };

    var rrdflot_thirtyseconds = {
      use_rra: true, rra: 0,
      graph_only: true, legend: "None",
      use_checked_DSs: true, checked_DSs: ['playing', 'waiting'],
      graph_width: "600px", graph_height: "300px"
    };

    customization_callback = function(obj) {
      secondplot = new rrdFlot("fiveminutes", obj.rrd_data, graph_options, ds_graph_options, rrdflot_fiveminutes);
      thirdplot = new rrdFlot("halfanhour", obj.rrd_data, graph_options, ds_graph_options, rrdflot_halfanhour);
      fourthplot = new rrdFlot("daily", obj.rrd_data, graph_options, ds_graph_options, rrdflot_daily);
    }
    firstplot = new rrdFlotAsync("thirtyseconds", rrdfile, null, graph_options, ds_graph_options, rrdflot_thirtyseconds, null, null, customization_callback);
  });
</script>

<h3>Player Statistics</h3>

<p>Last five hours measured over an average of 30 seconds:</p>
<div id="thirtyseconds"><center><h4>Loading...</h4></center></div>

<p>Last two days measured over an average of 5 minutes:</p>
<div id="fiveminutes"><center><h4>Loading...</h4></center></div>

<p>Last two weeks measured over an average of 30 minutes:</p>
<div id="halfanhour"><center><h4>Loading...</h4></center></div>

<p>Last two years measured over a daily average:</p>
<div id="daily"><center><h4>Loading...</h4></center></div>

<noscript><div class="noscript">Please enable JavaScript to view the server list.</div></noscript>
