h1 {
  font-size: 220%;
  font-family: Cambria, Georgia, Times New Roman, Serif;
}

h2, h3 {
  font-size: 175%;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  margin: 10px 0;
}

h3 {
  font-size: 125%;
}

body {
  background-color: black;
  background-image: url("/images/bg.svg");
  background-attachment: fixed;
  margin: 0; 
  color: white;
  font: 14px/1.3 Helvetica, arial, freesans, clean, sans-serif;
}

.no-svg body {
  background-image: url("/images/bg-fallback.png");
}

hr {
  border: 0;
  height: 2px;
  background: #650b03;
}

a, a:visited {
  color: white;
}

.greyout a {
  color: #999;
}

p.download, .newsDetails {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 0.8em;
}

.downloadthirdparty {
  font-style: italic;
  font-size: 0.8em;
}

.tab pre {
  font-size: 0.8em;
}

.versionlabel {
  color: #d92c2c;
  font-weight: bold;
}

.breadcrumbs {
  margin-top: 1em;
}

#header {
  height: 66px;
  border-bottom: solid 3px #650b03;
  background-color: #272d2c;
}

#header h1 {
  margin: 0 auto;
  width: 280px;
}

#header img {
  vertical-align: middle; 
  margin: -33px 0px;
}

#container {
  width: 800px;
  margin: 30px auto;
  border: 3px solid #650b03;
  background: #111;
  background: rgba(51, 51, 51, 0.4);
}

#content {
  padding-left: 50px;
  padding-right: 50px;
}

#nav {
  list-style-type: none;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  font: 15px Cambria, Georgia, Times New Roman, Serif;
}

#nav li {
  display: inline;
  font-size: 1.2em;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

#nav .nav-selected {
  border: solid #650b03;
  border-width: 0 0 2px 0;
}

#nav a {
  text-decoration: none;
}

#nav a:visited {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: none;
}

#footer {
  margin-top: 20px;
  clear: both;
  height: 35px;
  font-size: 0.7em; 
  text-align: center;
  border-top: solid 3px #650b03;
  background-color: #272d2c;
  font: 11px Cambria, Georgia, Times New Roman, Serif;
}

#newslist li {
  margin: 10px 0;
}

#newslist .newsDateTitle a {
  font-weight: bold;
  text-decoration: none;
}

#newslist .newsDateTitle a:hover {
  text-decoration: underline;
}

#toppanel {
  position: relative;
  background-color: #272d2c;
  height: 275px;
  width: 100%;
  border: solid 2px #650b03;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

#screenshot-banner {
  z-index: 11;
  position: absolute;
  top: 15px;
  left: 15px;
}

#screenshot {
  position:relative;
}

#screenshot img {
  position: absolute;
  top: 0;
  z-index: 8;
  padding: 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#screenshot IMG.active {
  z-index: 10;
}

#screenshot IMG.last-active {
  z-index: 9;
}

#rightpanel {
  text-align: center;
  width: 200px;
  float: right;
  height: 100%;
}

#rightpanel p {
  margin: 10px;
}

#so-links {
  text-align: center;
}

#so-links p {
  margin: 3px;
}

#so-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#so-links li {
  display: inline;
  padding: 0;
  margin: 1px;
}

#so-links li a img {
  border-style: none;
}

#so-links li a:hover {
  opacity: 0.5;
}

.mainlinks {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.mainlinks a
{
  display: inline-block;
  width: 140px;
  height: 45px;
  margin: 8px 0;
  line-height: 50px;
  color: transparent;
  background-color: #800000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; 
}

.mainlinks a:hover {
  background-color: #bd0000;
}

.mainlinks #about {
  background-image: url("/images/about-button.svg");
}

.no-svg .mainlinks #about {
  background-image: url("/images/about-button-fallback.png");
}

.mainlinks #download {
  background-image: url("/images/install-button.svg");
}

.no-svg .mainlinks #download {
  background-image: url("/images/install-button-fallback.png");
}

#newsbanner {
  float: right;
  font-size: 1em;
  padding: 4px 10px 2px 10px;
  margin-top: 10px;
  display: inline-block;
  border: solid 3px #272d2c;
  background-color: #272d2c;
  text-decoration: none;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

#ghbanner img {
  float: right;
  margin: -72px -3px;
  top: 0;
  right: 0;
  border: 0;
}

#header-right {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

/* Comment position hacks */
#disqus_thread {
  padding-top: 20px;
}

div.noscript {
  text-align: center;
  padding-bottom: 10px;
}

/* Games page */
table {
  margin: 0 auto;
  width: 700px;
}

td, th, tr {
  padding: 5px;
}

#serverlist {
  text-align: center;
}

#serverlist .gameSubline {
  font-size: 10px;
}

.gameWaiting {
  color: #F80;
}

.gamePlaying {
  color: #0A0;
}

.gameEmpty {
  color: #FFF;
}

#serverlist .greyout {
  color: #999;
}

#serverlist .greyout .gameWaiting {
  color: #740;
}

#serverlist .greyout .gamePlaying {
  color: #050;
}

#serverlist .greyout .gameEmpty {
  color: #999;
}

/* Downloads page */
.downloadplatform {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.downloadplatform li {
  display: inline;
  margin: 2px;
}

.downloadplatform a {
  padding: 2px;
  display: inline-block;
  border: solid 3px #272d2c;
  background-color: #272d2c;
  text-decoration: none;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.downloadplatform a img {
  vertical-align: middle;
  border: 0;
}

.downloadplatform a:hover {
  background-color: #888;
  border-color: #888;
}

.downloadplatform a.active {
  border: solid 3px #650b03;
  background-color: #272d2c;
}

.downloadplatform a.active:hover {
  background-color: #888;
}

.downloadlinks {
  list-style-type:none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.downloadlinks li {
  display: inline;
  padding: 15px;
}

.downloadlinks a, .downloadlinks span {
  width: 190px;
  font-family: 12px/1.4 Helvetica, arial, freesans, clean, sans-serif; 
  background: url("/images/download.svg") no-repeat 15px 15px;
  padding: 10px 15px 10px 60px;
  display: inline-block;
  border: solid 3px #650b03;
  background-color: #272d2c;
  text-decoration: none;
  text-align: center;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.downloadlinks span {
  background: url("/images/nodownload.svg") no-repeat 15px 15px;
  border: solid 3px #650b03;
  background-color: #272d2c;
  color: #999;
}

.no-svg .downloadlinks a {
  background-image: url("/images/download-fallback.png");
}

.no-svg .downloadlinks span {
  background-image: url("/images/nodownload-fallback.png");
}

.downloadlinks a:hover {
  background-color: #888;
}

pre {
  font-weight: normal;
  font-family: monospace;
}

.communityblock {
  margin:auto;
}

.communityblock img {
  padding-left:10px;
  float:left;
}

.communityblock p {
  margin-left:80px;
}

.tickLabel, .flot-x-axis {
  color: #fff;
}

#flotTip {
  white-space: nowrap;
  padding: 6px 8px 3px 8px;
  font-family: 12px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  display: inline-block;
  border: solid 3px #650b03;
  background-color: #272d2c;
  text-decoration: none;
  text-align: center;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.about-right {
  float: right;
}

.about-left {
  float: left;
}

.about-highlight {
  color: #d92c2c;
}

.about-modblock {
  margin: 20px 0;
  height: 180px;
}

.about-modimage {
  width: 312px;
  padding: 3px;
  background: #650b03;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  line-height: 0;
}

.about-modimage img {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  background: #272d2c;
}

.about-modtext {
  width: 360px;
}

.about-modtext h3 {
  margin: 0;
}

.about-modtext h3 img {
  vertical-align: middle;
  margin: 0 10px 5px 0;
}

.about-modtext p {
  margin: 5px 0;
}

.about-todo-divider {
  width: 100%;
  height: 6px;
  background: url('/images/about/stripe.svg') repeat-x;
}
