h1 {
    font-size: 220%;
    font-family: Cambria, Georgia, Times New Roman, Serif; 
}

h2, h3 {
  font-size: 175%;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  margin: 10px 0;
}

h3 {
    font-size: 125%;
}

body {
  background-color: black;
  background-image: url("/images/bga.png");
  background-attachment:fixed;
  margin: 0; 
  color: white;
  font: 14px/1.3 Helvetica,arial,freesans,clean,sans-serif;
}

hr {
  border: 0;
  height: 2px;
  background: #650b03;
}

a, a:visited { 
  color: white 
}

p.download, .newsDetails {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  font-size: 0.8em;
}

.breadcrumbs {
  margin-top: 1em;
}

#header {
  height: 66px;
  border-bottom: solid 3px #650b03;
  background-color: #272d2c;
}

#header h1 {
  margin: 0 auto;
  width:280px;
}

#header img {
  vertical-align: middle; 
  margin: -33px 0px;
}

#container {
  width: 800px;
  margin: 30px auto;
  border: 3px solid #650b03;
  background-color: #111;
  background-image: url("/images/bgb.png");
  background-attachment:fixed;
}

#content {
  padding-left:50px;
  padding-right:50px;
}

#nav {
  list-style-type:none;
  margin: 20px auto;
  width:80%;
  text-align:center;
  font: 15px Cambria, Georgia, Times New Roman, Serif;
}

#nav li {
  display:inline;
  font-size: 1.2em;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

#nav a { text-decoration: none; }
#nav a:visited { text-decoration: none; }
#nav a:hover { text-decoration: none; }

#footer {
  margin-top:20px;
  clear: both;
  height:35px;
  font-size: 0.7em; 
  text-align: center;
  border-top: solid 3px #650b03;
  background-color: #272d2c;
  font: 11px Cambria, Georgia, Times New Roman, Serif;
}

#newslist li {
  margin: 10px 0;
}

#newslist .newsDateTitle a {
  font-weight: bold;
  text-decoration: none;
}

#newslist .newsDateTitle a:hover {
  text-decoration: underline;
}

#mainleft {
  margin-right: 35px;
  float: left;
  height:200px;
}

#screenshot img {
  padding: 0;
  margin: 0;
  border: solid 2px #650b03;
}

#ghbanner img {
  float:right;
  margin: -72px -3px;
  top: 0; right: 0; border: 0;
}

#header-right {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

/* Comment position hacks */
#disqus_thread {
  padding-top: 20px;
}

#disqus_thread div.noscript {
  text-align: center;
  padding-bottom: 10px;
}

/* Games page */
table {
  margin:0 auto;
  width:90%;
}

td, th, tr {
  padding: 5px;
}

span.tooltip {
  border-bottom: thin dotted;
}

/* Downloads page */
.downloadplatform {
  list-style-type:none;
  padding:0;
  margin:0 auto;
  width:90%;
  text-align:center;
}

.downloadplatform li {
  display:inline;
  margin:2px;
}

.downloadplatform a {
  padding:4px;
  display:inline-block;
  border: solid 3px #272d2c;
  background-color: #272d2c;
  text-decoration:none;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.downloadplatform a img {
  vertical-align: middle; 
}

.downloadplatform a:hover {
  background-color: #888;
  border-color: #888;
}

.downloadplatform a.active {
  border: solid 3px #650b03;
  background-color: #272d2c;
}

.downloadplatform a.active:hover {
  background-color: #888;
}

.downloadlinks {
  list-style-type:none;
  padding:0;
  margin:0 auto;
  width:90%;
  text-align:center;
}

.downloadlinks li {
  display:inline;
  padding:15px;
}

.downloadlinks a {
  font-family: 12px/1.4 Helvetica,arial,freesans,clean,sans-serif; 
  background: url("/images/download.png") no-repeat;
  background-position: 15px 15px; 
  padding:10px 15px 10px 60px;
  display:inline-block;
  border: solid 3px #650b03;
  background-color: #272d2c;
  text-decoration:none;
  text-align:center;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.downloadlinks a:hover {
  background-color: #888;
}

.downloadblurb {
  min-height: 50px;
}
