.typography * {
  font-family: Cambria,Georgia,Times New Roman,Serif;
}
.typography h1 {
  font-family: Cambria,Georgia,Times New Roman,Serif;
}
.typography h2, .typography h3 {
  font-family: Helvetica,Arial,Sans-Serif;
}
.typography pre, .typography code {
  font-family: Consolas,Incosolata,Lucida Console,Monospace;
}

html, body {
  height: 100%; /* sticky footer */
}

body { 
  background-color: black; 
  margin: 0px; 
  color: White; 
  font-family: Cambria, Georgia, Times New Roman, Serif; 
  font-size: 12pt 
}

a,
a:visited { 
  color: White 
}

div.bar
{
  border-top: solid 3px #650b03;
  border-bottom: solid 3px #650b03;
  background-color: #272d2c;
  width: 100%;
}

p.download,
.newsDetails
{
  font-size: 0.8em;
}

.rounded
{
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.breadcrumbs
{
  margin-top: 1em;
}

#Wrap
{
  min-height: 100%;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
}

#Container 
{	
  width: 1024px; 
  margin: 0 auto;
  padding: 20px 0px;
}

#Header
{
  height: 66px;
}

#Header h1
{
  margin: 0 auto;
  width:280px;
}

#Header img
{
  vertical-align: middle; 
  margin: -30px 0px;
}

#Container
{
  overflow: auto;
  padding-bottom: 146px;
}

#Content.twocolumn
{
  text-align: justify;
  width:50%;
  padding-left:50px;
}

#Content.singlecolumn
{
  width: 70%;
  margin: 0 auto;
}

/* Navigation */
#Navigation
{
  margin-top: 10px; 
  margin-left: auto;
  margin-right:auto;
  width:90%;
  text-align:center;
}
#Navigation a { text-decoration: none; color: White }
#Navigation a:visited { text-decoration: none; color: White }
#Navigation a:hover { text-decoration: none; color: White }

/* Sidebar */
#Sidebar
{
  margin-top: 19px;
  float: right; 
  width: 450px;
  text-align: center
}
#Sidebar img
{
  border: none;
}
#Sidebar strong
{
  font-size: 2.3em;
  display: block
}
#Sidebar .stats
{
  display: inline-block;
  margin-right: 10px;
}
#Sidebar .desc
{
  font-size: 0.8em
}

#Sidebar a.desc
{
  font-size: 0.7em
}

/* Footer */
#Footer
{
  clear: both;
  font-size: 0.7em; 
  text-align: center;
  position: relative;
  margin-top: -126px;
  height: 120px;
}

#Footer .trademarks
{
  margin-top: 10px; margin-bottom: 10px
}

#NewsList
{
  /*	border: solid 3px #650b03;
  background-color: #000; */
padding-left: 0px;
padding-right: 0px;
padding-bottom: 10px;
font-size: 0.8em;
}

#NewsList li
{
  list-style-type: none;
}

#NewsList .newsDateTitle
{
  font-size: 0.8em;
}

#NewsList .newsDateTitle a
{
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

#NewsList .newsDateTitle a:hover
{
  text-decoration: underline;
}

#NewsList .newsCommentCount
{
  margin-bottom: 10px;
}

#NewsList .newsSummary li
{
  list-style-type: disc;
}

#Screenshot
{
  border: solid 3px #650b03; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; 
  width: 300px;
}

#DownloadLatest img
{
  float: left;
  margin-right: 1em;
}

#PlatformList li
{
  list-style-type: none;
  margin-bottom: 1em;
}

#PlatformList img
{
  vertical-align: middle;
  margin-right: 1em;
  border: none;
}

#CommentHolder
{
  border: solid 3px #650b03;
}

#PageComments
{
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

#PageComments .odd
{
  background-color: #272D2C;
}

#PageComments li
{
  list-style-type: none;
  padding: 0 20px;
}

#PageComments .comment
{
  padding-top: 20px;
  margin: 0;
  /*font-size: 1.2em;*/
}

#PageComments .actionLinks
{
  padding-bottom: 20px;
}

#PageComments .actionLinks li
{
  display: inline;
}

span.links {
  border: medium none;
  font-size: 1.2em;
  margin: 0 10px;
}
span.links:hover {
  border-bottom: 3px solid #BD0000;
}
#nav li {
  background-color: white;
  cursor: pointer;
  display: block;
  float: left;
  height: 15px;
  list-style-type: none;
  margin-right: 10px;
  width: 20px;
}
#nav li.activeSlide {
  background-color: #650B03;
}
#videoPlayer {
  background-color: Black;
  height: 410px;
  margin: 20px auto;
  padding-top: 5px;
  width: 500px;
}
.border {
  border: 3px solid #650B03;
}

table
{
border-collapse: collapse;
background-color: rgba(0, 0, 0, 0.2);
}

td, th, tr
{
padding: 5px;
}

span.tooltip
{
border-bottom: thin dotted;
}
