<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title>OpenRA - <%= @item[:title] %></title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/style.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>

  <body>
    <div id="Container">
      <div id="Header">
        <h1><img src="/images/soviet-logo.png" />OpenRA</h1>
      </div>
      <ul id="Navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/download/">Download</a></li>
        <li><a href="/mods/">Mods</a></li>
        <li><a href="/games/">Games</a></li>
        <li><a href="/get-involved/">Get Involved</a></li>
        <li><a href="http://github.com/OpenRA/OpenRA/wiki">Wiki</a></li>
        <li><a href="http://content.open-ra.org/">Content</a></li>
      </ul>
      <div id="Layout">
        <%= yield %>
      </div>
      <div id="Footer">
        <p>Copyright &copy; 2007-2013 The OpenRA Developers (<a href="/legal/">Legal notices</a>)</p>
      </div>
    </div>
  </body>
</html>
