<%
PAGES = ["/", "/news/", "/download/", "/games/", "/get-involved/"]
PAGE_TITLES = {
	"/" => "Home",
	"/news/" => "News",
	"/download/" => "Download",
	"/games/" => "Games",
	"/get-involved/" => "Support / Contribute"
}

def navigation_page(page)
	page == @item.path || (page == "/news/" && @item.path.start_with?("/news/"))
end
%><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title>OpenRA - <%= @item[:title] %></title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/style.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <script>
  function supportsSVG() {
    return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect;  
  }
  $(document).ready(function(){
    if (!supportsSVG()) {
      document.documentElement.className += ' no-svg';
      $('img[src$=".svg"]').attr('src', function(){return $(this).attr('src').replace('.svg', '-fallback.png');});
    }
  });
  </script>
  </head>
  <body>
    <div id="container">
      <div id="header"><h1><img src="/images/soviet-logo.png" />OpenRA</h1></div>
      <a id="ghbanner" href="https://github.com/OpenRA/OpenRA"><img src="/images/forkme.svg" alt="Fork me on GitHub"></a>
      <ul id="nav">
      <% PAGES.each do |page| %>
        <li><a href="<%= page %>"<%= ' class="nav-selected"' if navigation_page(page) %>><%= PAGE_TITLES[page] %></a></li>
      <% end %>
      </ul>
      <div id="content"><%= yield %></div>
      <div id="footer"><p>Copyright &copy; 2007-2013 The OpenRA Developers (<a href="/legal/">Legal notices</a>)</p></div>
    </div>
  </body>
</html>