<p class="newsDetails">Posted by <%= @item[:author] %> at <%= @item[:created_at] %></p>
<hr />
<%= yield %>
<hr />

<div id="disqus_thread">
  <noscript><div class="noscript">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></div></noscript>
</div>
<script type="text/javascript">
  if (document.domain == 'openra.res0l.net') {
    var disqus_shortname = 'openra';
    var disqus_identifier = '<%= @item[:disqus_id] %>';
	// Future proofed permalink
    var disqus_url = 'http://open-ra.org<%= @item.path %>';
    var disqus_title = '<%= @item[:title] %>';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  }
  else
    $('#disqus_thread').append('<div class="noscript">Comments are disabled for this domain.</div>');
</script>
